{% extends "base.html" %}

{% block title %} {{titulo}} {% endblock %}

{% block body %}

<div class="container">
    <div class="jumbotron" style="margin-top: 200px;">
        <a href="/add" style="margin-top: 20px;" class="btn btn-success btn-lg">Novo Usuário</a>

        <div class="container">
            <h1 class="text-center">Lista de usuários</h1>
            
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Ferramentas</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for usuario in usuarios %}
                        <tr id="usuario-row-{{usuario.ID}}">
                            <td>{{usuario.ID}}</td>
                            <td>{{usuario.Nome}}</td>
                            <td>{{usuario.Email}}</td>
                            <td>
                                <a class="btn btn-lg btn-danger" onclick="deletarUsuario('{{usuario.ID}}')" style="margin-right: 5px;">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>

                                <a class="btn btn-lg btn-warning" href="/atualizar/{{usuario.ID}}">
                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}

<script>
    function deletarUsuario(pk) {
        $.ajax({
            url: "v1/delete/" + pk,
            method: "delete",
            success: function(dataRaw) {
                $("#usuario-row-" + pk).remove()
            }
        })
    }
</script>

{% endblock %}
