{% extends "base.html" %}

{% block title %} Atualizar um usuário {% endblock %}

{% block body %}

<div class="container">
    <div class="jumbotron" style="margin-top: 200px;">
        <div class="container">
            <h2 class="text-center">Atualizar Usuário</h1>
            
            <form class="form-horizontal" id="usuario-form" role="form">
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <input type="text" id="nome" name="nome" class="form-control" value="{{usuario.Nome}}" required>
                    </div>
                </div>
            
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <input type="email" id="email" name="email" class="form-control" value="{{usuario.Email}}" required>
                    </div>
                </div>
            
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <button type="submit" onclick="atualizar('{{usuario.ID}}')" class="btn btn-warning btn-block">Atualizar</button>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
    function atualizar(pk) {
        $.ajax({
            url: "/v1/update/" + pk,
            method: "put",
            dataType: "json",
            data: $("#usuario-form").serialize(),
            complete: function() {
                window.location.href = "/"
            }
        })
    }
</script>
{% endblock %}
